.emailList {
  display: flex;
}

.emailOverview {
  /* width: 90%; */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.emailBody {
  max-width: 50vw;
  background: #fff;
  border: 1px solid #cfd2dc;
  margin: 0 5%;
  border-radius: 10px;
  text-align: left;
  padding: 0 5%;
  padding-top: 40px;
  position: relative;
  /* max-height: 80vh; */
  height: fit-content;
}

.avatarContainer {
  /* position: absolute;
  left: 0; */
  display: flex;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.favBtn {
  align-self: center;
  background: #e54065;
  border-radius: 20px;
  padding: 5px 10px;
  color: #fff;
}

.name {
  margin-left: 10px;
}
